services:
  dev: &dev
    build: .
    image: keboola/no-code-dbt-transformation
    working_dir: /code
    volumes:
      - ./:/code
      - ./data:/data
  dev-xdebug:
    <<: *dev
    build:
      context: ./docker/xdebug
    image: keboola/no-code-dbt-transformation-xdebug
    env_file: .env
    environment:
      PHP_IDE_CONFIG: serverName=docker
