name: 'GitHub Actions'
'on':
    - push
concurrency: 'ci-${{ github.ref }}'
env:
    APP_IMAGE: keboola/no-code-dbt-transformation
    KBC_DEVELOPERPORTAL_VENDOR: keboola
    KBC_DEVELOPERPORTAL_APP: keboola.no-code-dbt-transformation
    KBC_DEVELOPERPORTAL_USERNAME: keboola+no_code_dbt_transformation_gha
    KBC_DEVELOPERPORTAL_PASSWORD: '${{ secrets.KBC_DEVELOPERPORTAL_PASSWORD }}'
    DOCKERHUB_USER: '${{ secrets.DOCKERHUB_USER }}'
    DOCKERHUB_TOKEN: '${{ secrets.DOCKERHUB_TOKEN }}'

    # Snowflake Credentials
    SNOWFLAKE_HOST: "keboola.snowflakecomputing.com"
    SNOWFLAKE_PORT: 443
    SNOWFLAKE_USER: "SAPI_WORKSPACE_1291638618"
    SNOWFLAKE_PASSWORD: '${{ secrets.SNOWFLAKE_PASSWORD }}'
    SNOWFLAKE_DATABASE: "SAPI_9342"
    SNOWFLAKE_SCHEMA: "WORKSPACE_1291638618"
    SNOWFLAKE_WAREHOUSE: "KEBOOLA_PROD_SMALL"
    # ziPJCsm88MZRfNBmQhvAuQdkBgEUaJ4c

  # Snowflake Legacy Credentials
    SNOWFLAKE_LEGACY_HOST: "keboola.snowflakecomputing.com"
    SNOWFLAKE_LEGACY_PORT: 443
    SNOWFLAKE_LEGACY_USER: "SAPI_WORKSPACE_1291638618"
    SNOWFLAKE_LEGACY_PASSWORD: '${{ secrets.SNOWFLAKE_LEGACY_PASSWORD }}'
    SNOWFLAKE_LEGACY_DATABASE: "SAPI_9342"
    SNOWFLAKE_LEGACY_SCHEMA: "WORKSPACE_1291638618"
    SNOWFLAKE_LEGACY_WAREHOUSE: "KEBOOLA_PROD_SMALL"

    KBC_URL: "https://connection.keboola.com"
    KBC_TOKEN: '${{ secrets.KBC_TOKEN }}'

    KBC_STORAGE_TOKEN: '${{ secrets.KBC_STORAGE_TOKEN }}'
    KBC_TEST_PROJECT_URL: ''
    KBC_TEST_PROJECT_CONFIGS: ''
jobs:
    build:
        runs-on: ubuntu-latest
        outputs:
            app_image_tag: '${{ steps.tag.outputs.app_image_tag }}'
            is_semantic_tag: '${{ steps.tag.outputs.is_semantic_tag }}'
        steps:
            -
                name: 'Check out the repo'
                uses: actions/checkout@v4
            -
                name: 'Print Docker version'
                run: 'docker -v'
            -
                name: 'Docker login'
                if: env.DOCKERHUB_TOKEN
                run: 'docker login --username "$DOCKERHUB_USER" --password "$DOCKERHUB_TOKEN"'
            -
                name: 'Build image'
                run: 'docker build -t $APP_IMAGE .'
            -
                name: 'Set image tag'
                id: tag
                run: |
                    TAG="${GITHUB_REF##*/}"
                    IS_SEMANTIC_TAG=$(echo "$TAG" | grep -q '^v\?[0-9]\+\.[0-9]\+\.[0-9]\+$' && echo true || echo false)
                    echo "Tag = '$TAG', is semantic tag = '$IS_SEMANTIC_TAG'"
                    echo "is_semantic_tag=$IS_SEMANTIC_TAG" >> $GITHUB_OUTPUT
                    echo "app_image_tag=$TAG" >> $GITHUB_OUTPUT
            -
                name: 'Push image to ECR'
                uses: keboola/action-push-to-ecr@master
                with:
                    vendor: '${{ env.KBC_DEVELOPERPORTAL_VENDOR }}'
                    app_id: '${{ env.KBC_DEVELOPERPORTAL_APP }}'
                    username: '${{ env.KBC_DEVELOPERPORTAL_USERNAME }}'
                    password: '${{ env.KBC_DEVELOPERPORTAL_PASSWORD }}'
                    tag: '${{ steps.tag.outputs.app_image_tag }}'
                    push_latest: '${{ steps.tag.outputs.is_semantic_tag }}'
                    source_image: '${{ env.APP_IMAGE}}'
    tests:
        needs: build
        runs-on: ubuntu-latest
        steps:
            -
                name: 'Check out the repo'
                uses: actions/checkout@v4
            -
                name: 'Pull image from ECR'
                uses: keboola/action-pull-from-ecr@master
                with:
                    vendor: '${{ env.KBC_DEVELOPERPORTAL_VENDOR }}'
                    app_id: '${{ env.KBC_DEVELOPERPORTAL_APP }}'
                    username: '${{ env.KBC_DEVELOPERPORTAL_USERNAME }}'
                    password: '${{ env.KBC_DEVELOPERPORTAL_PASSWORD }}'
                    tag: '${{ needs.build.outputs.app_image_tag }}'
                    target_image: '${{ env.APP_IMAGE}}'
                    tag_as_latest: true
            -
                name: 'Run tests'
                run: |
                    docker run \
                    -e SNOWFLAKE_HOST \
                    -e SNOWFLAKE_PORT \
                    -e SNOWFLAKE_WAREHOUSE \
                    -e SNOWFLAKE_DATABASE \
                    -e SNOWFLAKE_SCHEMA \
                    -e SNOWFLAKE_USER \
                    -e SNOWFLAKE_PASSWORD \
                    -e SNOWFLAKE_LEGACY_HOST \
                    -e SNOWFLAKE_LEGACY_PORT \
                    -e SNOWFLAKE_LEGACY_WAREHOUSE \
                    -e SNOWFLAKE_LEGACY_DATABASE \
                    -e SNOWFLAKE_LEGACY_SCHEMA \
                    -e SNOWFLAKE_LEGACY_USER \
                    -e SNOWFLAKE_LEGACY_PASSWORD \
                    -e KBC_URL \
                    -e KBC_TOKEN \
                    ${{env.APP_IMAGE}} composer ci
    tests-in-kbc:
        needs: build
        runs-on: ubuntu-latest
        steps:
            -
                name: 'Run KBC test jobs'
                if: 'env.KBC_STORAGE_TOKEN && env.KBC_TEST_PROJECT_CONFIGS'
                uses: keboola/action-run-configs-parallel@master
                with:
                    token: '${{ env.KBC_STORAGE_TOKEN }}'
                    componentId: '${{ env.KBC_DEVELOPERPORTAL_APP }}'
                    tag: '${{ needs.build.outputs.app_image_tag }}'
                    configs: '${{ env.KBC_TEST_PROJECT_CONFIGS }}'
    deploy:
        needs:
            - build
            - tests
            - tests-in-kbc
        runs-on: ubuntu-latest
        if: 'startsWith(github.ref, ''refs/tags/'') && needs.build.outputs.is_semantic_tag == ''true'''
        steps:
            -
                name: 'Set tag in the Deloper Portal'
                uses: keboola/action-set-tag-developer-portal@master
                with:
                    vendor: '${{ env.KBC_DEVELOPERPORTAL_VENDOR }}'
                    app_id: '${{ env.KBC_DEVELOPERPORTAL_APP }}'
                    username: '${{ env.KBC_DEVELOPERPORTAL_USERNAME }}'
                    password: '${{ env.KBC_DEVELOPERPORTAL_PASSWORD }}'
                    tag: '${{ needs.build.outputs.app_image_tag }}'
